/* SellerForm.css */

.popup1-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    font-size: 8px;
    z-index: 1000;
    width: 400px;
    height: 570px;
}

.popup1-details h4 {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

.popup1-details label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    color: rgb(247, 247, 247);
}

.popup1-details input,
.popup1-details select,
.popup1-details textarea {
    color: #fff;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    background-color: #353333;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup1-details button[type="submit"] {
    background-color: rgb(83, 214, 83);
    color: white;
    width: 380px;
    margin-left: 3px;
    font-size: 18px;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.popup1-details button[type="submit"]:hover {
    background-color: rgb(44, 147, 44);
}

.confirmation-popup {
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.confirmation-content {
    text-align: center;
}

.confirmation-popup p {
    margin-bottom: 10px;
}

.confirmation-popup button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-popup button:hover {
    background-color: #0056b3;
}